$main-color: #2DA1AD;
$main-color-lighter: #2496A2;
$main-color-lightest: #78C9CE;
$background-color: #FFFFFF;
$text-color: #BBC4C3;
$search-input-border-color: #EAEAEA;
$search-input-bs-color: #E3E3E3;
$contact-border-color: rgba(187,196,195);
$overlay-color: rgba(0,0,0,0.4);
$separator-color: #DCDCDC;
$modal-bs-color: rgba(99,109,255,0.27);