//gradient vars
$gradient-list: $main-color-lightest 0%, $main-color-lighter 99.98%, $main-color-lighter 100%;
$gradient-direction: 182.65deg;


//media query vars
$mq-mobile: "only screen and (max-width : 666px)";

//transition
$glob-trans-duration: 0.35s;
$glob-trans-type: ease-out;
